<button type="button" class="cursor-pointer inline-flex items-center justify-center p-2 rounded-full
         hover:bg-slate-100
         focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500"
    [attr.aria-pressed]="isDark ? 'true' : 'false'"
    [attr.title]="isDark ? 'Basculer en thème clair' : 'Basculer en thème sombre'" (click)="onToggle()">
    <!-- Icône soleil (quand on est en dark pour proposer clair) -->
    <svg *ngIf="isDark" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <circle cx="12" cy="12" r="4"></circle>
        <path
            d="M12 2v2M12 20v2M4.93 4.93l1.41 1.41M17.66 17.66l1.41 1.41M2 12h2M20 12h2M4.93 19.07l1.41-1.41M17.66 6.34l1.41-1.41" />
    </svg>

    <!-- Icône lune (quand on est en clair pour proposer sombre) -->
    <svg *ngIf="!isDark" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none"
        stroke="#969696" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
    </svg>
</button>